<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form method="post" action="/login">
        <input type="text" name="email" placeholder = "Email" required="required" autocomplete="off">
        <input type="password" name="psw" placeholder = "Password" required="required" autocomplete="off">
        
        <button >LOGIN</button>
    </form>
</body>
</html>